<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.boot.mapper.EntranceInfoMapper">

    <resultMap id="BaseResultMap" type="com.gdut.boot.entity.EntranceInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="acceptanceType" column="acceptance_type" jdbcType="VARCHAR"/>
            <result property="entranceTime" column="entrance_time" jdbcType="VARCHAR"/>
            <result property="originalSchool" column="original_school" jdbcType="VARCHAR"/>
            <result property="totalCulturalScore" column="total_cultural_score" jdbcType="INTEGER"/>
            <result property="takingProfessional" column="taking_professional" jdbcType="VARCHAR"/>
            <result property="ingCollege" column="ing_college" jdbcType="VARCHAR"/>
            <result property="levelClass" column="level_class" jdbcType="VARCHAR"/>
            <result property="examinationPlace" column="examination_place" jdbcType="VARCHAR"/>
            <result property="addedScore" column="added_score" jdbcType="INTEGER"/>
            <result property="studentCardNum" column="student_card_num" jdbcType="INTEGER"/>
            <result property="belongCoach" column="belong_coach" jdbcType="VARCHAR"/>
            <result property="studentCard" column="student_card" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,number,acceptance_type,
        entrance_time,original_school,total_cultural_score,
        taking_professional,ing_college,level_class,
        examination_place,added_score,student_card_num,
        belong_coach,student_card
    </sql>

</mapper>
